In [4]:
import numpy as np

# Ejemplo

In [7]:
lista = [1,2,3,4]
lista2 = np.array([[1,2,3],[4,5,6]]) #2x3
lista2

array([[1, 2, 3],
       [4, 5, 6]])

In [23]:
print(np.empty([4,4], dtype = int))

[[  0   0   0   0]
 [  0   0   0   0]
 [  0   0 664   0]
 [  0 481   0 481]]

In [24]:
print(np.zeros([4,4]))

[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]

In [30]:
print(np.ones([4,4]))

[[1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]
 [1. 1. 1. 1.]]

In [34]:
print(np.full([4,4],"hola"))

[['hola' 'hola' 'hola' 'hola']
 ['hola' 'hola' 'hola' 'hola']
 ['hola' 'hola' 'hola' 'hola']
 ['hola' 'hola' 'hola' 'hola']]

In [35]:
print(np.random.random([4,4]))

[[0.32259931 0.57877599 0.14515526 0.57530573]
 [0.68302901 0.11758215 0.57714814 0.30334779]
 [0.9224998  0.57591237 0.11977627 0.89173539]
 [0.11742181 0.12506859 0.03565479 0.6400272 ]]

In [40]:
print(np.random.randint(1,50,1))

[23]

In [41]:
print(np.identity(5))

[[1. 0. 0. 0. 0.]
 [0. 1. 0. 0. 0.]
 [0. 0. 1. 0. 0.]
 [0. 0. 0. 1. 0.]
 [0. 0. 0. 0. 1.]]

In [42]:
print(np.arange(5,20,2))

[ 5  7  9 11 13 15 17 19]

In [52]:
print(np.linspace(10,80,10))

[10.         17.77777778 25.55555556 33.33333333 41.11111111 48.88888889
 56.66666667 64.44444444 72.22222222 80.        ]

In [54]:
ejemA = np.array([[1,2,3,4,5,6],[7,8,9,10,11,43]])
ejemA

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 43]])

In [55]:
ejemB = np.reshape(ejemA,(4,3))
ejemB

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 43]])

In [63]:
ejemA[1][5]

43

In [64]:
ejemA.max()

43

In [65]:
ejemA.min()

1

In [66]:
ejemA.argmax()

11

In [67]:
ejemA.argmin()

0

In [69]:
a = np.arange(10,50)
a[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

In [76]:
r = np.random.random((3,3,5))
r

array([[[0.25560735, 0.89004388, 0.21446554, 0.84649732, 0.26710741],
        [0.87739755, 0.06361257, 0.33327672, 0.48865268, 0.11714683],
        [0.75539357, 0.62712358, 0.91791317, 0.729003  , 0.78254915]],

       [[0.33152739, 0.26225383, 0.30278954, 0.52648228, 0.80093802],
        [0.29773874, 0.32950165, 0.7371908 , 0.66035943, 0.20439981],
        [0.91758213, 0.58016691, 0.64187629, 0.03962934, 0.28116387]],

       [[0.49296927, 0.93495514, 0.1902839 , 0.39577899, 0.40907765],
        [0.88691858, 0.75838635, 0.83945263, 0.88926353, 0.35389141],
        [0.8739674 , 0.62335287, 0.64218723, 0.18188494, 0.73512577]]])

In [77]:
a == r

C:\Users\sebas\AppData\Local\Temp\ipykernel_4276\3708186105.py:1: DeprecationWarning: elementwise comparison failed; this will raise an error in the future.
  a == r

False

# pandas

In [80]:
import pandas as pd

In [81]:
s = pd.Series([1,1,1,1,3,4,5,6,4,4])
s

0    1
1    1
2    1
3    1
4    3
5    4
6    5
7    6
8    4
9    4
dtype: int64

In [82]:
s.count()

10

In [83]:
s.sum()

30

In [84]:
s.cumsum()

0     1
1     2
2     3
3     4
4     7
5    11
6    16
7    22
8    26
9    30
dtype: int64

In [85]:
s.value_counts()

1    4
4    3
3    1
5    1
6    1
dtype: int64

In [86]:
s.value_counts(normalize = True)

1    0.4
4    0.3
3    0.1
5    0.1
6    0.1
dtype: float64

In [87]:
s.std()

1.8856180831641267

In [88]:
s.describe()

count    10.000000
mean      3.000000
std       1.885618
min       1.000000
25%       1.000000
50%       3.500000
75%       4.000000
max       6.000000
dtype: float64

In [89]:
from math import *

In [90]:
s.apply(log)

0    0.000000
1    0.000000
2    0.000000
3    0.000000
4    1.098612
5    1.386294
6    1.609438
7    1.791759
8    1.386294
9    1.386294
dtype: float64

In [93]:
print("factorial de ", s[1], "es", factorial(s[1]))

factorial de  1 es 1

In [98]:
s2 = pd.Series(['a','b','c','d','e'])
s2*4

0    aaaa
1    bbbb
2    cccc
3    dddd
4    eeee
dtype: object

In [100]:
datos = {'nombre': ['Maria','David','Miguel'], 
        'edad':[18,20,11],
        'grado':['Software','Mecanica','Gastronomia']
        }

df= pd.DataFrame(datos)

In [101]:
df

   nombre  edad        grado
0   Maria    18     Software
1   David    20     Mecanica
2  Miguel    11  Gastronomia

In [103]:
df2 = pd.DataFrame([['maria',18],
                ['luis',19],
                ['miguel',11]], columns=['Nombre','edad']
                )
df2

   Nombre  edad
0   maria    18
1    luis    19
2  miguel    11

In [104]:
df= pd.DataFrame([{'Nombre':'Maria','Edad':18},{'Nombre':'Miguel','Edad':19},{'Nombre':'David','Edad':20}])
df

   Nombre  Edad
0   Maria    18
1  Miguel    19
2   David    20

In [105]:
df = pd.DataFrame(np.random.randn(4,3),columns=['a','b','c'])
df

          a         b         c
0 -1.082888  1.335518  1.032166
1  0.774283  0.986242 -0.206785
2  1.170253  2.255251 -1.275611
3 -0.948034  0.554327 -0.085411

In [108]:
inicio = int(input("ingrese el año inicial: "))
fin = int(input("ingrese el año final: "))
ventas = {}

for i in range(inicio, fin+1):
    ventas[i] = float(input("ingrese las ventas del año" + str(i)+': '))
ventas = pd.Series(ventas)
conDescuento = ventas * 0.2
print("\nventas sin descuento\n", ventas)
print("\nventas con descuento\n", conDescuento)

ventas sin descuento
 2020    1.0
2021    2.0
2022    3.0
dtype: float64

ventas con descuento
 2020    0.2
2021    0.4
2022    0.6
dtype: float64

# ejercicios aparte